{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block body %}

<!--grid row-->
<div class= "container">
    <div class="row justify-content-start">
        <!--grid column-->
        <div class="col-md-12 text-center pr-5">
            <h1>Look for a Book</h1>
            <h2>Giving you inspiration for your next read</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="register.html" class="btn btn-whiteText btn-lg" role="button">Register</a>
        </div>
        <div class="col-md-6">
            <a href="login.html" class="btn btn-whiteText btn-lg" role="button">Log in</a>
        </div>
    </div>
</div>
 {% endblock %}