{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block body %}

<div class= "container-fluid container-headerIndex py-5">
    <h1>Look for a Book</h1>
    <h2>Be Inspired</h2>
</div>
  
<div class="container-fluid container-index">
    {% if session.id %} 
    <h3 class="pt-5">Hello {{session.username}}</h3>
    <!--grid row-->
 <div class="row py-5 justify-content-center">
    <!--grid column-->
    <div class="col-md-3 col-sm-12">
        <h4>Search for a book</h4>
    </div>
    <div class="col-md-3 col-sm-12">
        <input type="text" placeholder="Search..">
    </div> 
</div>
</div>
{% else %}
    
    <div class="row text-center py-5">
        <div class="col-md-6">
            <a class="btn btn-lg btn-custom mt-3 mb-5" href="/register" role="button">Get Started</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-lg btn-custom mt-3 mb-5" href="/login" role="button">Login</a>
        </div>
    </div>
</div>
{% endif %}
 
{% endblock %}